{% extends "_layout.twig" %}

{% block content %}
    <div class="card card-half approved-theme">
        <h2>{% trans %}cancelPayment-admin.cancel{% endtrans %}</h2>
        <p>{% trans %}cancelPayment-admin.wantCancel{% endtrans %}<b> {{ payment.participant.getFullName }}</b>
            {% trans %}cancelPayment-admin.inRole{% endtrans %} {{ payment.participant.getRole }}?</p>
        <p>{% trans %}cancelPayment-admin.participantNeedsToKnow{% endtrans %}</p>
        <form method="post" action="{{ url_for('admin-cancel-payment',
            {'paymentId' : payment.id, 'eventSlug': event.slug}) }}">
            <div class="form-group">
                <label>{% trans %}cancelPayment-admin.reason{% endtrans %}<br/><br/>
                    <input type="text" name="reason" id="form-reason" class="form-control form-wide"
                           required="required"></label>
            </div>
            <br/>
            <a href="{{ url_for('admin-show-payments', {'eventSlug': event.slug}) }}"
               class="btn btn-small btn-grey">{% trans %}cancelPayment-admin.back{% endtrans %}</a><br/><br/>
            <input type="submit" value="{% trans %}cancelPayment-admin.cancelPayment{% endtrans %}"
                   class="btn btn-small">
        </form>
    </div>
{% endblock %}
