{% extends "_layout.twig" %}

{% block content %}
    <div class="card card-half closed-theme">
        <h2>Cancel payment</h2>
        <p>You really want to cancel payment for participant <b>{{ payment.participant.getFullName }}</b>
            in role {{ payment.participant.getRole }}?</p>
        <p>The participant needs to know about the cancellation, because the payment can be on the way -
            if you cancel it now and the payment arrives, it will be quite an extra efford to solve this issue.
            You will need to return the payment and make him send it again with newly generated variable number.</p>
        <form method="post" action="{{ url_for('admin-cancel-payment',
            {'paymentId' : payment.id, 'eventSlug': event.slug}) }}">
            <div class="form-group">
                <label>Reason for payment cancellation (will be sent via mail): <br/><br/>
                    <input type="text" name="reason" id="form-reason" class="form-control form-wide"
                           required="required"></label>
            </div>
            <br/>
            <a href="{{ url_for('admin-show-payments', {'eventSlug': event.slug}) }}"
               class="btn btn-small btn-grey">Back</a><br/><br/>
            <input type="submit" value="Cancel payment" class="btn btn-small">
        </form>
    </div>
{% endblock %}
