{% extends "emails/_mail-layout.twig" %}

{% block content %}
	<p>Ahoj,</p>
	<p>bohužel jsme museli tvojí registraci na akci KORBO 2018 zamítnout, protože nesplňuješ všechny podmínky akce. </p>

	<p>Důvod: {{ reason }}.</p>

	<p>V případě jakýchkoliv nejasností se můžeš podívat na web <a href="https://korbo.skauting.cz/">https://korbo.skauting.cz</a>
		nebo
		nám napiš na mail <a href="mailto:korbo@skaut.cz">korbo@skaut.cz</a><span class="noselect">.</span></p>

	<p>S pozdravem<br/>
		KORBO tým 2018</p>
{% endblock %}