{% extends "emails/_mail-layout.twig" %}

{% block content %}
	<p>Ahoj,</p>
	<p>bohužel jsme museli
		{% if role == 'ist' %}tvojí {% endif %}
		registraci
		{% if role == 'patrol-leader' %}tvojí patroly {{ patrolName }}{% endif %}
		na akci {{ eventName }} zamítnout, protože
		{% if role == 'ist' %}nesplňuješ{% endif %}
		{% if role == 'patrol-leader' %}tvoje patrola nesplňuje{% endif %}
		všechny podmínky akce. </p>

	<p>Důvod: {{ reason }}.</p>

	<p>V případě jakýchkoliv nejasností se můžeš podívat na web <a href="https://cej2018.skaut.cz/">https://cej2018.skaut.cz</a>
		nebo
		nám napiš na mail <a href="mailto:cej2018@skaut.cz">cej2018@skaut.cz</a><span class="noselect">.</span></p>

	<p>S pozdravem<br/>
		registrační tým českého kontingentu CEJ 2018</p>
{% endblock %}