{% extends "emails/_mail-layout.twig" %}

{% block content %}
	<div class="text-center">
		<p>Ahoj!</p>
		<p>Právě jsme obdrželi tvou platbu za {{ eventName }}. Díky!</p>

		<p>Protože máš už zaplaceno, chtěli bychom tě pozvat na <b>Přípravné setkání Patrol Leaderů a IST</b>, které se uskuteční o víkendu <b>13.-15.4.</b> na <b>skautské základně Vinice v Pardubicích</b>.

		<p>Na setkání se všichni společně seznámíme, předáme vám nejnovější informace ohledně Jamboree, budeme mít možnost vyřešit různé problémy a požadavky a v neposlední řadě si užijeme fajn víkend.</p>

		<p>Bližší informace očekávejte zhruba dva týdny před akcí. Budeme se na tebe těšit!</p>

		<p>V případě dotazů se mrkni na web <a href="https://cej2018.skaut.cz/">https://cej2018.skaut.cz</a><span class="noselect">,</span> nebo nám napiš na mail <a href="mailto:cej2018@skaut.cz">cej2018@skaut.cz</a><span class="noselect">.</span>
		</p>

		<p>S pozdravem<br/>
			registrační tým českého kontingentu CEJ 2018</p>
	</div>
{% endblock %}