{% extends "emails/_mail-layout.twig" %}

{% block content %}
	<div class="text-center">
		<p>Milý účastníku/ Milá účastnice,</p>
		<p>
			hurá, hurá! Právě ses přiblížil KORBU ještě blíž, teď už ti nic nebrání přijet a třeba začínat vymýšlet svojí Aktivitu nebo Místo.
		</p>
		<p>
			Jsme rádi, že ses přihlásil/a, zaplatil/a registrační poplatek a pojedeš na Korbo 2019.
			<b>Tento e-mail obsahuje důležité údaje, a tak ho rozhodně nemaž.</b>
			Máme pro Tebe totiž pár odkazů a informací, které Ti usnadní přípravu:
		</p>
		<ul>
			<li>
				Ať už jsi na KORBU nováčkem či ne, nejprve Ti vřele doporučujeme projít si na webu sekci
				<a href="https://korbo.skauting.cz/fungovani-korba/" target="_blank">Fungování KORBA</a>. Stojí za to podívat se i na
				<a href="https://korbo.skauting.cz/obecne-principy/" target="_blank">Obecné principy </a> a také
				<a href="https://korbo.skauting.cz/mista/" target="_blank">Korbo Místa</a> a
				<a href="https://korbo.skauting.cz/aktivity/" target="_blank"> Aktivity</a>, které ti pomůžou při realizaci Tvých nápadů.
				<i>Protože na KORBO se sice můžeš přijet flákat, ale ti praví frajeři si připraví i něco pro ostatní. </i>
			</li>
			<li>Svojí Aktivitu nezapomeň napsat do <a href="https://teamup.com/ks8p1t9gd23kfphf6h/login" target="_blank">Tabulky Aktivit</a>
				(heslo je <b>udelejmesissami</b>). Najdeš tam také Místa, která již vznikla, a případné Aktivity na nich probíhající.
				Když budeš chtít na KORBU Místo vytvořit, dej nám o něm prosím vědět v
				<a href="https://docs.google.com/forms/d/e/1FAIpQLSecT3nK4atxkZJYsgmu6_b3y2XpWvxsnrOIQqAoOS2nKGz5zw/viewform" target="_blank">tomto formuláři</a>.
			</li>
			<li>
				Pokud vymyslíš Aktivitu či Místo, na níž budeš potřebovat nějaké materiální či finanční prostředky,
				neboj se ozvat na e-mail <a href="mailto:korbo@skaut.cz" target="_blank">korbo@skaut.cz</a>.
				Čím dříve to uděláš, tím více si zvýšíš pravděpodobnost, že Ti budeme moci pomoct.
			</li>
			<li>
				Na Facebooku máme připravenou
				<a href="https://www.facebook.com/groups/2320932498146893/about/" target="_blank">uzavřenou skupinu pro účastníky</a>,
				kde se můžeš seznámit s ostatními účastníky, navrhovat je jako členy, nabízet jim svá Místa a Aktivity,
				nebo naopak nějaká poptávat, a vůbec ji využít jakkoliv Tě napadne.
				Přidávání účastníků do skupiny probíhá ručně, měj s námi tedy prosím trpělivost.
			</li>
		</ul>
		<p>Korbo - svět, který si uděláš sám, ale užiješ si ho se všemi.</p>
		<p>Korbo tým</p>
		<p>P. S. Pokud jedeš, měl/a bys být i v
			<a href="https://www.facebook.com/events/757429061319560/" target="_blank">oficiální FB události</a>.
			Pokud ti stále chybí nějaké informace, zkus se podívat do
			<a href="https://korbo.skauting.cz/faq/" target="blank">FAQ na webu</a> a určitě sleduj náš
			<a href="https://www.instagram.com/korboskaut/" target="blank"> Instagram </a> a
			<a href="https://www.facebook.com/skautkorbo/" target="blank">Facebook</a>.
		</p>
	</div>
{% endblock %}
