{% extends "emails/_mail-layout.twig" %}

{% block content %}
	<div class="text-center">
		<p>Ahoj!</p>
		<p>Právě jsme obdrželi tvou platbu za {{ eventName }}. Díky!</p>
		{% if roleName == 'patrol-leader' %}
			<p><b>Důležité</b> - na akci sebou musíš vzít pro každého účastníka <b>vyplněný formulář</b> s názvem <a href="https://r.skauting.cz/forms/priloha_k_registraci.pdf">Příloha k registraci účastníka</a>. Bez něj nemůže účastník jet! Formulář ke stažení najdeš na <a href="https://r.skauting.cz/forms/priloha_k_registraci.pdf">https://r.skauting.cz/forms/priloha_k_registraci.pdf</a><span class="noselect">.</span></p>
		{% endif %}
		<p>Budeme se na tebe těšit na akci!</p>

		<p>V případě potřeby se mrkni na web <a href="https://cej2018.skaut.cz/">https://cej2018.skaut.cz</a><span
					class="noselect">,</span> nebo nám napiš na mail <a
					href="mailto:cej2018@skaut.cz">cej2018@skaut.cz</a><span class="noselect">.</span>
		</p>

		<p>S pozdravem<br/>
			registrační tým českého kontingentu CEJ 2018</p>
	</div>
{% endblock %}