{% extends "emails/_mail-layout.twig" %}

{% block content %}
	<div class="text-center">
		<p>Milý účastníku/ Milá účastnice,</p>
		<p>jsme rádi, že ses přihlásil/a, zaplatil/a registrační poplatek a pojedeš na KORBO 2018. <b>Tento e-mail
				obsahuje důležité údaje, a tak ho rozhodně nemaž.</b> Máme pro Tebe pár
			odkazů a informací, které Ti usnadní přípravu: </p>
		<ol>
			<li>Ať už jsi na KORBU nováčkem, či ne, nejprve Ti vřele doporučujeme projít si na webu sekci <a
						href="https://korbo.skauting.cz/fungovani-korba/" target="_blank">Fungování KORBA</a>, a to
				zejména <a href="https://korbo.skauting.cz/mista/" target="_blank">KORBO Místa</a>, která jsou letos
				novým prvkem.
			</li>
			<li>Letos jsme taktéž <a href="https://korbo.skauting.cz/tabulka-aktivit/" target="_blank">pozměnili Tabulku
					Aktivit</a>, kam můžeš zapisovat Aktivity, které chceš připravit pro ostatní, a kde se lze zároveň
				přihlašovat na Aktivity, které Tě zajímají. Najdeš tam také zmíněná Místa, která již vznikla, a případné
				Aktivity na nich probíhající. <a href="https://teamup.com/ks8p1t9gd23kfphf6h/login"
												 target="_blank">Zde</a> je přístup k editaci Tabulky Aktivit
				(heslo:"<i>udelejsisam</i>").
			</li>
			<li>Pokud vymyslíš Místo, dej nám o něm prosím vědět prostřednictvím <a
						href="https://docs.google.com/forms/d/e/1FAIpQLSecT3nK4atxkZJYsgmu6_b3y2XpWvxsnrOIQqAoOS2nKGz5zw/viewform"
						target="_blank">tohoto formuláře</a>.
			</li>
			<li>Pokud vymyslíš Aktivitu, na níž budeš potřebovat nějaké materiální či finanční prostředky, neboj se
				ozvat na e-mail <a href="mail:korbo@skaut.cz">korbo@skaut.cz</a>. Čím dříve to uděláš, tím více si
				zvýšíš pravděpodobnost, že Ti budeme moci pomoct.
			</li>
			<li>Na Facebooku máme připravenou <a href="https://www.facebook.com/groups/988172254673001/"
												 target="_blank">uzavřenou skupinu pro účastníky</a>, kde se můžeš
				seznámit s ostatními
				účastníky, navrhovat je jako členy, nabízet jim svá Místa a Aktivity, nebo naopak nějaká poptávat, a
				vůbec ji využít jakkoliv Tě napadne. (Přidávání
				účastníků do skupiny probíhá ručně, měj s námi tedy prosím trpělivost.)
			</li>
		</ol>
		<p>KORBO - svět, který si uděláš sám, ale užiješ si ho se všemi.</p>
		<p>KORBO tým</p>
		<p>P.S. Pokud jedeš, měl/a bys být i v <a href="https://www.facebook.com/events/179679859282902/"
												  target="_blank">oficiální FB události</a>.</p>
	</div>
{% endblock %}