{% extends "emails/_mail-layout.twig" %}

{% block content %}
	<div class="text-center">
		<p>Ahoj!</p>

		<p>jsme rádi, že ses přihlásil/a, zaplatil registrační poplatek a pojedeš na KORBO. Máme pro tebe pár odkazů a informací, které ti usnadní přípravu:<p>
<ol>
			<li>Zde je přístup k Tabulce aktivit, kam můžeš zapisovat aktivity, které chceš připravit pro ostatní, a zároveň se přihlašovat na aktivity, které tě zajímají.</li>
			<li>Co vše může být aktivitou, jak ji můžeš vytvořit a nabídnout ostatním se dozvíš na této stránce.</li>
			<li>Jestli nevíš, co bys chtěl pro ostatní vytvořit, nebo by se ti naopak něco líbilo a tys to neuměl připravit, může ti pomoct dokument Vize KORBA.</li>
			<li>Je možné, že vymyslíš aktivitu, na kterou budeš potřebovat finanční výpomoc. Neboj se zkusit napsat na korbo@skaut.cz, ale počítej s tím, že tvá žádost již může být zamítnuta.</li>
			<li>Kromě financí můžeš na adrese korbo@skaut.cz žádat i o materiální podporu. Čím dříve tak učiníš, tím větší je pravděpodobnost, že ti budeme moci pomoct.</li>
			<li>Na Facebooku máme připravenou uzavřenou skupinu pro účastníky, kde se můžeš seznámit s ostatními účastníky, nabízet jim své aktivity a využít ji jakkoliv tě napadne.</li>
		</ol>
		<p>KORBO - svět, který si uděláš sám, ale užiješ si ho se všemi.</p>

		<p>KORBO tým</p>

	</div>
{% endblock %}