{% extends "emails/_mail-layout.twig" %}

{% block content %}
	<div class="text-center">
		<p>Ahoj!</p>

		<p>Právě jsme obdrželi tvou platbu za {{ eventName }}. Díky!</p>

		<p>Protože máš už zaplaceno, rádi bychom tě pozvali na <b>Přípravné setkání Patrol Leaderů a IST</b>. V kalendáři si zaškrtni víkend <b>13. až 15. dubna</b> na <b>skautské základně Vinice v Pardubicích</b>.</p>

		<p>Na setkání se seznámíš s ostatními členy kontingentu, dozvíš se nejnovější informace ohledně jamboree v Maďarsku, budeš mít možnost vyřešit svoje dotazy, požadavky i problémy a hlavně si dohromady užijeme fajn víkend.</p>

		<p>Bližší informace o přípravném setkání očekávej nejpozději dva týdny před ním. Budeme se na tebe těšit!</p>

		<p>V případě otázek se mrkni na web <a href="https://cej2018.skaut.cz/">https://cej2018.skaut.cz</a> nebo nám napiš na mail <a href="mailto:cej2018@skaut.cz">cej2018@skaut.cz</a><span class="noselect">.</span>
		</p>

		<p>S pozdravem<br/>
			registrační tým českého kontingentu CEJ 2018</p>
	</div>
{% endblock %}