/.composer/cache/*
/attachments/*
/backups/*
/docs
/forms
/logs/*
!/logs/.gitkeep
/vendor/*
/temp/*
/tests/temp/*
!/tests/temp/.gitkeep
*.cache
.bash_history

*.env
*.sqlite
!db_init.sqlite
/backup/*
/uploads/*

deploy/prereqs
# editor and IDE paraphernalia
.idea
.vscode
*.swp
*.swo
*~
