parameters:
	ignoreErrors:
		-
			message: '#^Using nullsafe property access "\?\-\>email" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Export/ExportService.php

		-
			message: '#^Overwriting variable \$mimeContentType while changing its type from bool to string$#'
			identifier: shipmonk.variableTypeOverwritten
			count: 1
			path: src/FileHandler/LocalSaveFileHandler.php

		-
			message: '#^Class kissj\\Participant\\Participant has PHPDoc tag @property for property \$preferredPosition with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Participant/Participant.php

		-
			message: '#^Property kissj\\Participant\\Patrol\\PatrolParticipant\:\:\$patrolLeader \(kissj\\Participant\\Patrol\\PatrolLeader\) does not accept null\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Participant/ParticipantService.php

