parameters:
	level: 9
	paths:
		- src
		#- tests
	excludePaths:
		- tests/temp/*
	ignoreErrors:
		 - '#Access to an undefined property LeanMapper\\Row::\$.*\.#' # 3rd party library
		 - 
		     # 3rd party library
		     message: '#Access to an undefined property LeanMapper\\Entity::\$id.#'
		     path: src\Orm\Repository.php
		 - 
		     # 3rd party library
		     message: '#Call to an undefined method Aws\\S3\\S3Client::HeadObject\(\)\.#'
		     path: src\FileHandler\S3BucketSaveFileHandler.php
		 - 
		     # 3rd party library
		     message: '#Access to an undefined property Skautis\\Skautis::\$UserManagement\.#'
		     path: src\Skautis\SkautisService.php
		 - 
		     # 3rd party library
		     message: '#Access to an undefined property Skautis\\Skautis::\$OrganizationUnit\.#'
		     path: src\Skautis\SkautisService.php
		 -
		     # database manipulation
		     message: '#kissj\\Participant\\Patrol\\PatrolParticipant::\$patrolLeader \(kissj\\Participant\\Patrol\\PatrolLeader\) does not accept null\.#'
		     path: src\Participant\ParticipantService.php
	exceptions:
		uncheckedExceptionRegexes:
			- '#Exception#'
	treatPhpDocTypesAsCertain: false
