
postgres:
  username: PostgresUser
  password: PostgresPassword
  host: PostgresHost
  dbname: PostgresDB

caddy:
  image:
    name: quay.io/kissj/caddy-ubi
    tag: latest
  replicas: 2
  hpa:
    enabled: false
    minReplicas: 2
    maxReplicas: 10
  tls:
    enabled: true
    issuer: letsencrypt-production
  metrics: 
    enabled: false

php:
  image:
    name: quay.io/kissj/php-ubi
    tag: latest
  metrics:
    enabled: false
  
  replicas: 2
  hpa:
    enabled: false
    minReplicas: 2
    maxReplicas: 20

  # Must support RWX
  volume: 
    size: 5Gi
    storageclass: ""


app:

  url: example.net
  locale: cs

  test_site: false
  log_level: DEBUG
  debug: false

  s3:
    key: S3Key
    secret: S3Secret
    region: S3Region
    endpoint: S3Endpoint
    bucket: S3Bucket

  mail:
    dsn: smtp://user:pass@smtp.example.com:port
    server: MailServer
    port: 587
    encryption: "tls" #ssl or tls
    log_level: "4" #0-4
    username: MailUsername
    password: MailPassword

  sentry:
    dsn: SentryDSN
    profiling_rate: "0.5"

  skautis:
    appId: SkautisAppId
    useTest: false
    
      


