{% extends "emails/_mail-layout.twig" %}

{% block content %}
    <p>{{ 'email.closed.successfullySent' | transGendered(genderSuffix, {'%event.getReadableName%': event.getReadableName}) | raw }}</p>
{% endblock %}
