{% extends "emails/_mail-layout.twig" %}

{% block content %}
    <p>{% trans %}email.denial.denied{% endtrans %} {{ event.readableName }}{% trans %}email.denial.requirements{% endtrans %}</p>

    <p>{% trans %}email.denial.reason{% endtrans %} <b>{{ reason }}</b>{% trans %}email.denial.editRegistration{% endtrans %}</p>
{% endblock %}
