{% extends "emails/_mail-layout.twig" %}

{% block content %}
    <p>{% trans %}denial.welcome{% endtrans %}</p>
    <p>{% trans %}denial.denied{% endtrans %} {{ event.readableName }}{% trans %}denial.requirements{% endtrans %}</p>

    <p>{% trans %}denial.reason{% endtrans %} {{ reason }} {% trans %}denial.editRegistration{% endtrans %}</p>
{% endblock %}
