{% extends "emails/_mail-layout.twig" %}

{% block content %}
    <div class="text-center">
        <p>{{ 'email.finished-tp.approved' | trans }} {{ event.readableName }}{{ 'email.finished-tp.thanks' | trans }}</p>

        <p>{{ 'email.finished-tp.enjoy' | trans }}</p>
    </div>
{% endblock %}
