{% extends "emails/_mail-layout.twig" %}

{% block content %}
    <div class="text-center">
        <p>{{ 'email.payment-successful-pay-more.received' | trans }} {{ event.readableName }}{{ 'email.payment-successful-pay-more.thanks' | trans }}</p>
        <p>{{ 'email.payment-successful-pay-more.please' | trans }}</p>
    </div>
{% endblock %}
