{% extends "emails/_mail-layout.twig" %}

{% block content %}
    <p>{{ 'email.payment-info-contingents.approved' | trans }} <b> {{ event.readableName }}</b>!</p>
    <p>{{ 'email.payment-info-contingents.wait' | trans }}</p>
{% endblock %}
