{% extends "emails/_mail-layout.twig" %}

{% block content %}
    <p>Ahoy!</p>

    <p>Thank you for registering as a solo participant to AQUA 2020. Payment from you will be required after we find you
        a patrol to join. We will contact you with more details as soon as possible.</p>
{% endblock %}
