{% extends "_layout.twig" %}

{% block content %}
    <div class="two-cards">
        <div class="card registration-theme">
            <h2>{% trans %}chooseRole.chooseRole{% endtrans %}</h2>
            {% if event.allowPatrols %}
                <form method="POST" action="{{ url_for('setRole', {'eventSlug': event.slug}) }}">
                    <input type="hidden" name="role" value="pl">
                    <input type="submit" class="btn form-wide" value="{% trans %}chooseRole.registerAsPl{% endtrans %}">
                </form>
                <br/>
            {% endif %}
            {% if event.allowIsts %}
                <form method="POST" action="{{ url_for('setRole', {'eventSlug': event.slug}) }}">
                    <input type="hidden" name="role" value="ist">
                    <input type="submit" class="btn form-wide"
                           value="{% trans %}chooseRole.registerAsIst{% endtrans %}">
                </form>
                <br/>
            {% endif %}
            {% if event.allowGuests %}
                <form method="POST" action="{{ url_for('setRole', {'eventSlug': event.slug}) }}">
                    <input type="hidden" name="role" value="guest">
                    <input type="submit" class="btn form-wide"
                           value="{% trans %}chooseRole.registerAsGuest{% endtrans %}">
                </form>
                <br/>
            {% endif %}
        </div>

        <div class="card approved-theme">
            <h2>{% trans %}chooseRole.rolesAdvice{% endtrans %}</h2>
            {% if event.allowPatrols %}
                <p><b>{% trans %}role.pl{% endtrans %}</b> {% trans %}chooseRole.advicePlText{% endtrans %}</p>
            {% endif %}
            {% if event.allowIsts %}
                <p><b>{% trans %}role.ist{% endtrans %}</b> {% trans %}chooseRole.adviceIstText{% endtrans %}</p>
            {% endif %}
            {% if event.allowGuests %}
                <p><b>{% trans %}role.guest{% endtrans %}</b> {% trans %}chooseRole.adviceGuestText{% endtrans %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
