{% extends "_layout.twig" %}

{% block content %}
    <div class="two-cards">
        <div class="card registration-theme">
            <h2>{% trans %}chooseRole.chooseRole{% endtrans %}</h2>
            <form method="POST" action="{{ url_for('setRole', {'eventSlug': event.slug}) }}">
                <input type="hidden" name="role" value="pl">
                <input type="submit" class="btn form-wide" value="{% trans %}chooseRole.registerAsPl{% endtrans %}">
            </form>
            <br/>
            <form method="POST" action="{{ url_for('setRole', {'eventSlug': event.slug}) }}">
                <input type="hidden" name="role" value="ist">
                <input type="submit" class="btn form-wide" value="{% trans %}chooseRole.registerAsIst{% endtrans %}">
            </form>
            <br/>
            {#<form method="POST" action="{{ url_for('setRole', {'eventSlug': event.slug}) }}">
                <input type="hidden" name="role" value="fp">
                <input type="submit" class="btn form-wide" value="Register as Participant without patrol!">
            </form>
            <br/>
            <form method="POST" action="{{ url_for('setRole', {'eventSlug': event.slug}) }}">
                <input type="hidden" name="role" value="guest">
                <input type="submit" class="btn form-wide" value="Register as Guest!">
            </form>
            <br/>#}
        </div>

        <div class="card approved-theme">
            <h2>{% trans %}chooseRole.rolesAdvice{% endtrans %}</h2>
            <p><b>{% trans %}role.pl{% endtrans %}</b> {% trans %}chooseRole.advicePlText{% endtrans %}</p>
            <p><b>{% trans %}role.ist{% endtrans %}</b> {% trans %}chooseRole.adviceIstText{% endtrans %}</p>
        </div>
    </div>
{% endblock %}
