{% extends "_layout.twig" %}

{% block content %}
    <div class="two-cards">
        <div class="card registration-theme">
            <h2>{% trans %}login.registrationFor{% endtrans %}{{ event.readableName }}</h2>
            <form action="{{ url_for('sendLoginEmail', {'eventSlug': event.slug}) }}" method="post">
                <div class="form-group">
                    <label for="form-email">{% trans %}login.email{% endtrans %}:</label>
                    <input
                        class="form-control form-wide"
                        type="email"
                        name="email"
                        id="form-email"
                        required
                    />
                </div>
                <input type="submit" value="{% trans %}login.sendMeEmail{% endtrans %}" class="btn form-wide"/>
            </form>
        </div>
        <div class="card approved-theme text-muted">
            <h2>{% trans %}login.howItWorks{% endtrans %}</h2>
            <ol class="text-left">
                <li>{% trans %}login.submitEmail{% endtrans %}</li>
                <li>{% trans %}login.followButton{% endtrans %}</li>
                <li>{% trans %}login.fillDetails{% endtrans %}</li>
                <li>{% trans %}login.sentForApproval{% endtrans %}</li>
                <li>{% trans %}login.waitForApproval{% endtrans %}</li>
                <li>{% trans %}login.pay{% endtrans %}</li>
            </ol>
            <a href="{{ url_for('loginHelp', {'eventSlug': event.slug}) }}"
               class="btn btn-grey btn-small">{% trans %}login.more{% endtrans %}</a>
        </div>
    </div>
{% endblock %}
