{% extends "_layout.twig" %}

{% block content %}
    <div class="card">
        <h2>{{ 'login-link-sent.accessToSystem' | trans }}</h2>
        <p>{{ 'login-link-sent.linkSent' | trans }}</p>
        <p>{{ 'login-link-sent.followLink' | trans }}</p>
    </div>
{% endblock %}
