{% extends "_layout.twig" %}

{% block content %}
    <div class="two-cards">
        <div class="card registration-theme">
            <form action="{{ url_for('sendLoginEmail') }}" method="post">
                <h2>{% trans %}login.registrationFor{% endtrans %}{{ event.readableName ?? 'Korbo 2020' }}{# TODO make dynamic #}</h2>
                <div class="form-group">
                    <label for="form-email">{% trans %}login.email{% endtrans %}</label>
                    <input class="form-control form-wide" type="email" name="email" id="form-email"
                           required/><br/>
                </div>
                <input type="submit" value="{% trans %}login.sendMeEmail{% endtrans %}" class="btn form-wide"/>
            </form>
        </div>
        <div class="card approved-theme">
            <h2>{% trans %}login.howItWorks{% endtrans %}</h2>
            <ul>
                <li>{% trans %}login.submitEmail{% endtrans %}</li>
                <li>{% trans %}login.followButton{% endtrans %}</li>
                <li>{% trans %}login.fillDetails{% endtrans %}</li>
                <li>{% trans %}login.sentForApproval{% endtrans %}</li>
                <li>{% trans %}login.waitForApproval{% endtrans %}</li>
                <li>{% trans %}login.pay{% endtrans %}</li>
            </ul>
            <br/>
            <a href="{{ url_for('loginHelp') }}"
               class="btn-sm btn btn-small btn-grey">{% trans %}login.more{% endtrans %}</a>
        </div>
    </div>
{% endblock %}
