{% extends "_layout.twig" %}

{% block content %}
	<div class="card open-theme">
		<h2>Uzavřít registraci</h2>
		<p>Skutečně chceš uzavřít registraci? Tato akce je nevratná!</p>
		<p>Zpracování a ochrana osobních údajů této registrace a jejich příloh se řídí pravidly a poučením příhlášky člena organizace Junák – český skaut, z.s. a tedy splňuje požadavky dané zákonem <a target="_blank" href="https://www.uoou.cz/files/101_cz.pdf">č. 101/2000 sb., o ochraně osobních údajů a o změně některých zákonů</a> ve znění pozdějších předpisů a <a target="_blank" href="https://krizovatka.skaut.cz/dokumenty/file/320-smernice-pro-nakladani-s-osobnimi-udaji">vnitřní Směrnice pro nakládání s osobními údaji v Junáku – českém skautu</a>, a to po dobu trvání a v nezbytném rozsahu i po skončení akce. </p>
		<form method="POST" action="{{ path_for('ist-confirmCloseRegistration') }}">
			<label><input type="checkbox" required="required">Souhlasím s použitím fotografií, popřípadě videonahrávek pořízených na akci, na kterých se vyskytuje účastník, k propagačním účelům a k prezentaci akcí organizace Junák – český skaut, z.s.. </label><br/>
			<br/>
			<div class="text-center">
				<input class="btn btn-small" type="submit" value="Uzavřít registraci">
				<a href="{{ path_for('ist-dashboard') }}" class="btn btn-grey btn-small">Zpět</a>
			</div>
		</form>
	</div>
{% endblock %}