{% extends "_layout.twig" %}

{% block content %}
	<div class="card signin-theme">
		<h2>Uzavřít registraci IST</h2>
		<p>Skutečně chceš uzavřít registraci? Tato akce je nevratná!</p>
		<form method="POST" action="{{ path_for('ist-confirmCloseRegistration') }}">
			<label><input type="checkbox" required="required"> Souhlasím se vším, co tu bude v budoucnu napsané.</label><br/>
			<br/>
			<div class="text-center">
				<input class="btn btn-small" type="submit" value="Uzavřít registraci">
				<a href="{{ path_for('ist-dashboard') }}" class="btn btn-grey btn-small">Zpět</a>
			</div>
		</form>
	</div>
{% endblock %}