{% extends "_layout.twig" %}

{% block content %}
	<div class="card open-theme">
		<h2>Uzavřít registraci</h2>
		<p>Skutečně chceš uzavřít registraci? <b>Tato akce je nevratná a zadané údaje už nepůjdou změnit!</b></p>
		<form method="POST" action="{{ path_for('ist-confirmCloseRegistration') }}">
			<p>Osobní údaje jsou zpracovány prostřednictvím tohoto formuláře a souvisejících google aplikací a budou přístupné výlučně organizátorům uvedené akce. Jsem si vědom(a) svých práv ohledně přístupu k informacím o zpracování mých osobních údajů (§ 12 zákona o ochraně osobních údajů) a možností ochrany mých osobních údajů (§ 21 tamtéž).
			</p>
			<label><input type="checkbox" required="required">Dobrovolně souhlasím ve smyslu § 5 odst. 2 zákona č. 101/2000 Sb., o ochraně osobních údajů, se shromažďováním, uchováním a zpracováním mnou poskytnutých osobních údajů organizátorem Junák – český skaut, středisko Dvojka Praha, z. s., Bělehradská 51, Praha 2, 120 00, IČO: 649 36 121 (“organizátor”), za účelem realizace akce „Korbo“ (“Akce”), zejména provedení registrace účastníků, zajištění komunikace s účastníky a další koordinace akce, a to nejdéle po dobu 1 (jednoho) roku od udělení souhlasu. Prohlašuji, že všechny údaje jsou přesné a pravdivé. Zároveň souhlasím s pořizováním a případným zveřejněním mých fotografií pro potřeby prezentace Akce a organizace Junák - český skaut, z. s.
			</label><br/>
			<br/>
			<div class="text-center">
				<input class="btn btn-small" type="submit" value="Uzavřít registraci">
				<a href="{{ path_for('ist-dashboard') }}" class="btn btn-grey btn-small">Zpět</a>
			</div>
		</form>
	</div>
{% endblock %}