{% extends "_layout.twig" %}

{% block content %}
	<div class="card open-theme">
		<h2>Smazat účastníka</h2>
		<p>Skutečně chceš z patroly smazat účastníka{% if pDetail.getFirstName is not empty %} jménem {{ pDetail.getFirstName }} {{ pDetail.getLastName }}{% endif %}? Tato akce je nevratná!</p>
		<form method="POST" action="{{ path_for('p-confirmDelete', {'participantId': pDetail.getId}) }}">
			<input class="btn btn-small" type="submit" value="Smazat účastníka">
			<a href="{{ path_for('pl-dashboard') }}" class="btn btn-grey btn-small">Zpět</a>
		</form>
	</div>
{% endblock %}