{% extends "_layout.twig" %}

{% block content %}
	<div class="text-center">
		<form action="{{ path_for('loginScreenAfterSent') }}" method="post">
			<h2>Poslání emailu s přihlášením</h2>
			<div class="form-group">
				<label for="form-email">Email</label>
				<input class="form-control" type="email" name="email" id="form-email" required/><br/>
			</div>
			<input type="submit" value="Poslat mail pro přihlášení" class="btn btn-primary"/>
		</form>
	</div>
{% endblock %}