{% extends "_layout.twig" %}

{% block content %}
	<div class="card card-half open-theme">
		<form action="{{ path_for('loginScreenAfterSent') }}" method="post">
			<h2>Přihlásit se přes email</h2>
			<div class="form-group">
				<label for="form-email">Email</label>
				<input class="form-control form-wide" type="email" name="email" id="form-email" required/><br/>
			</div>
			<input type="submit" value="Poslat mail pro přihlášení" class="btn form-wide"/>
		</form>
		<br/>
		<a href="{{ path_for('landing') }}" class="btn btn-grey btn-small">Zpět</a>
	</div>
{% endblock %}