{% extends "_layout.twig" %}

{% block content %}
	<div class="card registration-theme">
		<form action="{{ path_for('signup', {'role': role}) }}" method="post">
			<h2>Registrace s rolí {{ role }} na CEJ 2018</h2>
			<div class="form-group">
				<label for="form-email">Email</label>
				<input class="form-control" type="email" name="email" id="form-email" required/><br/>
			</div>
			<input type="submit" value="Zaregistrovat se a poslat přihlašovací mail" class="btn "/>
		</form>
	</div>
{% endblock %}