{% extends "_layout.twig" %}

{% block content %}
	<div class="card">
		<h1>Registrace na Korbo 2018</h1>
		<p>Na tvůj email byl odeslán přihlašovací odkaz. </p><p>Do 15 minut na něj klikni a tím se přihlásíš do registračního systému.</p>
	</div>
{% endblock %}