{% extends "_layout.twig" %}

{% block content %}
    <div class="card {{ userStatus }}-theme">
        <h2>{{ ('role.' ~ person.role)|trans }} {% trans %}dashboard.details{% endtrans %}</h2>
        {% include('widgets/userCustomHelp.twig') %}

        <div>
            <h2>{% trans %}dashboard.personalInfo{% endtrans %}</h2>
            {% if userStatus == 'open' %}
                <a class="btn btn-small" href="{{ url_for('showDetailsChangeable', {'eventSlug': event.slug}) }}">
                    {% trans %}dashboard.editDetails{% endtrans %}</a><br/><br/>
            {% endif %}
            <div class="text-center">
                {% include 'widgets/details.twig' with {'person': person} %}
                <br/>
            </div>
        </div>

        {% if userStatus == 'open' %}
            <a class="btn btn-small" href="{{ url_for('showCloseRegistration', {'eventSlug': event.slug}) }}">
                {% trans %}dashboard.lockRegistration{% endtrans %}</a>
        {% endif %}
    </div>
{% endblock %}
