version: "3.9"
services:



    #database
    postgresql:
        image: postgres:11-alpine
        volumes:
            - db-data:/var/lib/postgresql/data
        ports:
            - 5432:5432

        environment:
            - POSTGRES_USER=user
            - POSTGRES_PASSWORD=password
            - POSTGRES_DB=kissj

    #php-fpm
    php-fpm:
        image: quay.io/kissj/php
        depends_on:
            - postgresql
        links:
            - postgresql

        ports:
            - 9000:9000

        environment:
            - POSTGRES_USER=user
            - POSTGRES_PASSWORD=password
            - POSTGRES_DB=kissj
            - DATABASE_HOST=postgresql
            - DB_TYPE=postgresql
        volumes:
            - ../../:/var/www/html


    #Frontend Web Server
    caddy:
        image: quay.io/kissj/caddy
        ports:
            - 8080:80
        depends_on:
            - php-fpm
        links:
            - php-fpm

        environment:
            - PHPFPM_HOST=php-fpm
            - WEB_HOST=localhost
        volumes:
            - ./Caddyfile:/etc/caddy/Caddyfile
            - ../../:/var/www/html
              
    mailhog:
        image: mailhog/mailhog
        ports:
            - 1025:1025
            - 8025:8025

    adminer:
        image: dockette/adminer:dg
        depends_on:
            - postgresql
        links:
            - postgresql
        ports:
            - 9090:80

volumes:
    db-data:

networks:
    default:
