{
    auto_https off
    admin off
}

:8080 {
    root * /var/www/html/public

    encode gzip zstd

    php_server {
        index index.php
    }

    file_server

    log {
        output stdout
        format console
    }
}
