.header-logo {
    margin: 20px;
    max-height: 100px;
    max-width: 250px;
}

.signStamp {
    max-width: 200px;
}

.content-left {
    float: left;
    text-align: left;
}

.content-right {
    float: right;
    text-align: right;
}

.content-center {
    text-align: center;
}

.roster {
    display: flex;
    margin-bottom: 4rem;
    page-break-inside: avoid;
}

.roster-header {
}

.roster-header-headline {
    font: bold 1.6rem inherit;
}

.roster-header-image {
    float: right;
    max-height: 100px;
    max-width: 250px;
}

.roster-table {
    width: 100%;
}

table, tr, td {
    border: 1px solid #888888;
    border-collapse: collapse;
}

td.header {
    background-color: #888888;
    font-weight: bold;
}

td {
    height: 2rem;
    padding: 0 0.4rem;
}
