@font-face {
	font-family: 'themix';
	src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot');
	src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot? #iefix') format('embedded-opentype');
	src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.woff') format('woff'),
	url('https://cdn.skauting.cz/fonts/TheMix_LT_400.woff2') format('woff2'),
	url('https://cdn.skauting.cz/fonts/TheMix_LT_400.otf') format('opentype'),
	url('https://cdn.skauting.cz/fonts/TheMix_LT_400.svg#themix') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'themix';
	src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.eot');
	src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.eot? #iefix') format('embedded-opentype');
	src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.woff') format('woff'),
	url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.woff2') format('woff2'),
	url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.otf') format('opentype'),
	url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.svg#themix') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'themix';
	src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot');
	src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot? #iefix') format('embedded-opentype');
	src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.woff') format('woff'),
	url('https://cdn.skauting.cz/fonts/TheMix_LT_700.woff2') format('woff2'),
	url('https://cdn.skauting.cz/fonts/TheMix_LT_700.otf') format('opentype'),
	url('https://cdn.skauting.cz/fonts/TheMix_LT_700.svg#themix') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'themix';
	src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.eot');
	src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.eot? #iefix') format('embedded-opentype');
	src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.woff') format('woff'),
	url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.woff2') format('woff2'),
	url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.otf') format('opentype'),
	url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.svg#themix') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'skautbold';
	src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot');
	src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot? #iefix') format('embedded-opentype');
	src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.woff') format('woff'),
	url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.otf') format('opentype'),
	url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.svg#skautbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

:root {
	--borderRadius: 6px;
	font-family: 'themix', sans-serif;
	background: #e6ebed;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer-item {
	margin-top: 8px;
	align-self: center;
}

input, textarea, select, button {
	font-family: 'themix', sans-serif;
}

h1 {
	font-family: 'skautbold', sans-serif;
}

.wrapper {
	max-width: 998px;
	margin: 0 auto;
}

.card {
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	background-color: #f9f9f9;
	border-radius: var(--borderRadius);
	padding: 35px 44px;
	margin-bottom: 11px;
	text-align: center;
}

.card-half {
	max-width: 50%;
	margin: 0 auto 11px;
}

h1 {
	margin-top: 30px;
}

h2, h3 {
	margin-top: 0;
}

.btn {
	background: #a21f16;
	background: var(--color);
	color: white;
	border-radius: var(--borderRadius);
	text-decoration: none;
	font-size: 25px;
	display: block;
	text-align: center;
	padding: 15px;
	border: none;
	cursor: pointer;
}

.btn-grey {
	--color: grey;
}

.btn-small {
	display: inline-block;
}

.btn-mini {
	display: inline-block;
	font-size: inherit;
	padding: 5px;
}

.two-cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 13px;
}

.login-card {
	margin: 0 auto;
	max-width: 400px;
	padding: 1em;
	display: flex;
	flex-direction: column;
}

/* Steps v2 */

ul.steps {
	width: 100%;
	display: flex;
	list-style: none;
	padding: 0;
	flex-direction: row;
}

li.step {
    width: 33%;
    position: relative;
    text-align: center;
	font-size: 1.25rem;
	font-weight: bolder;
	color: #666;
}

li.step::before {
	content: " ";
    line-height: 30px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #888;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    background-color: #666;
}

li.step::after {
	content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ccc;
    top: 15px;
    left: -50%;
    z-index: -1;
}

li.step:first-child:after {
    content: none;
}

li.step.is-active {
	color: var(--step-color);
}

li.step.is-active::before,
li.step.is-active::after {
	border-color: var(--step-color);
    background-color: var(--step-color);
}

li.step:nth-child(1).is-active {
	--step-color: #0b2a34;
}

li.step:nth-child(2).is-active {
	--step-color: #224c48;
}

li.step:nth-child(3).is-active {
	--step-color: #1e341b;
}

li.step:nth-child(4).is-active {
	--step-color: #34706f;
}

li.step:nth-child(5).is-active {
	--step-color: #799369;
}

.registration-theme {
	color: #0b2a34;
	--color: #0b2a34;
}

.open-theme {
	color: #224c48;
	--color: #224c48;
}

.closed-theme {
	color: #1e341b;
	--color: #1e341b;
}

.approved-theme {
	color: #34706f;
	--color: #34706f;
}

.paid-theme {
	color: #799369;
	--color: #799369;
}

.admin-theme {
	color: #333;
	--color: #333;
}

.form-group {
	font-size: 20px;
	text-align: left;
	padding: var(--borderRadius);
}

.form-control {
	border: none;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	border-radius: var(--borderRadius);
	font-size: inherit;
	padding: var(--borderRadius);
	margin: calc(-1 * var(--borderRadius)) 0;
	display: block;
	flex-grow: 1;
	margin-top: .5rem;
}

.form-group-inline {
	display: flex;
	margin-bottom: 10px;
}

.form-control:valid {
	box-shadow: 1px 1px 1px #1e341b;
}

.form-control:invalid {
	box-shadow: 2px 2px 2px #a21f16;
}

.form-wide {
	width: 100%;
}

.overdue {
	color: #a21f16;
}

div.payment-overdue {
	text-decoration: line-through;
}

th {
	background: var(--color);
	color: white;
}

tr:nth-child(even) {
	background: #eeeeee
}

.alert {
	border-radius: var(--borderRadius);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	margin-bottom: 1em;
	padding: 1em;
	text-align: center;
	background: red;
	background: var(--color, blue);
}

.alert-info {
	--color: #b17e4d;
}

.alert-success {
	--color: #b6c1ab;
}

.alert-warning {
	--color: #f3d046;
}

.alert-error {
	--color: #a21f16;
	color: white;
}

.card-divide {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 33px;
	position: relative;
	margin-bottom: 30px;
}

@supports (display: grid) {
	.card-divide::before {
		height: 100%;
		width: 1px;
		position: absolute;
		left: 50%;
		background: #ccc;
		content: '';
	}
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.material-icons {
	color: var(--color);
	vertical-align: middle;
}
