@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400.woff') format('woff'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_400.woff2') format('woff2'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_400.otf') format('opentype'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_400.svg#themix') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.woff') format('woff'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.woff2') format('woff2'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.otf') format('opentype'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_400i.svg#themix') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700.woff') format('woff'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_700.woff2') format('woff2'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_700.otf') format('opentype'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_700.svg#themix') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'themix';
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.eot');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.woff') format('woff'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.woff2') format('woff2'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.otf') format('opentype'),
    url('https://cdn.skauting.cz/fonts/TheMix_LT_700i.svg#themix') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'skautbold';
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot');
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.eot? #iefix') format('embedded-opentype');
    src: url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.woff') format('woff'),
    url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.otf') format('opentype'),
    url('https://cdn.skauting.cz/fonts/skaut-bold-webfont.svg#skautbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    background: var(--color-background);
    --border-radius: 6px;
    font-family: 'themix', sans-serif;
    box-sizing: border-box;
    color: var(--color-main);
    color-scheme: light dark;
    accent-color: var(--color-main);
}

@media (prefers-color-scheme: light) {
    :root {
        --color-background: #e6ebed;
        --color-card-background: #f9f9f9;
        --color-input-background: #ffffff;
        --color-main: #0D71B9;
        --color-accent: #b9550d;
        --color-fading: #a6d9ff;
        --color-light: #3ba5f1;
        --color-dark: #06375a;
        --color-grey: #636363;
        --color-link: #0000ee;
        --color-link-visited: #551a8b;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #212121;
        --color-card-background: #252525;
        --color-input-background: #2f2f2f;
        --color-main: #85A2D5;
        --color-accent: #d5b885;
        --color-fading: #1f2e3d;
        --color-light: #3e6ab5;
        --color-dark: #d1dcef;
        --color-grey: #888888;
        --color-link: lightskyblue;
        --color-link-visited: #ad76de;
    }
}
