{% extends "_layout.twig" %}

{% block content %}
	<div class="card approving-theme">
		<h2>Dashboard administrátora na akci {{ eventName }}</h2>
		<a href="{{ path_for('admin-approving') }}" class="btn">Schvalování účastníků</a>
        <a href="{{ path_for('admin-medical') }}" class="btn">Export lékařských dat do CSV</a>
	</div>
{% endblock %}