{% extends "_layout.twig" %}

{% block content %}
	<div class="card approving-theme">
		<h2>Zamítnout Patrolu</h2>
		<p>Skutečně chceš patrolu <b>{{ patrolLeader.getPatrolName }}</b> zamítnout?</p>
		<a href="{{ path_for('admin-approving') }}" class="btn btn-small btn-grey">Zpět</a><br/><br/>
		<form method="post" action="{{ path_for('openPatrolLeaderConfirmed', {'patrolLeaderId' : patrolLeader.getId}) }}">
			<input type="submit" value="Zamítnout" class="btn btn-small">
		</form>
	</div>
{% endblock %}