{% extends "_layout.twig" %}

{% block content %}
    <div class="card card-half">
        <h3>{{ '404.pardon' | trans }}</h3>
        <a href="/" class="btn">{{ '404.button' | trans }}</a>
    </div>
{% endblock %}
