{% extends "_layout.twig" %}

{% block content %}
    <div class="card card-half">
        <h3>{% trans %}404.pardon{% endtrans %}</h3>
        <a href="/" class="btn">{% trans %}404.button{% endtrans %}</a>
    </div>
{% endblock %}
