{% extends "_layout.twig" %}

{% block content %}
    <div class="card text-left open-theme">
        <h2>{% trans %}changeDetails.editDetails{% endtrans %}</h2>
        <form method="POST" action="{{ url_for('ist-changeDetails', {'eventSlug': event.slug}) }}"
              enctype="multipart/form-data">
            {% include 'widgets/changeDetails.twig' with {'personDetails': istDetails} %}
            
            {% if ca.skills %}
                <label class="form-group form-group-inline">Skills: <input class="form-control" type="text"
                                                                           name="skills"
                                                                           placeholder="sailing; food handling certificate; advanced first aid; ..."
                                                                           value="{{ istDetails.getSkills }}">
                </label>
                <br>
            {% endif %}{% if ca.preferredPosition %}
                <div class="form-group">
                    Preffered position:
                    <label class="form-control">
                        <input type="checkbox" name="preferredPosition[]" value="press"
                               {% if 'press' in istDetails.getPreferredPosition %}checked="checked"{% endif %}>
                        press (newspaper, photography and other media...)
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="preferredPosition[]" value="central services"
                               {% if 'central services' in istDetails.getPreferredPosition %}checked="checked"{% endif %}>
                        central services (registration, administration, info tent...)
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="preferredPosition[]" value="kitchen"
                               {% if 'kitchen' in istDetails.getPreferredPosition %}checked="checked"{% endif %}>
                        kitchen (food preparation - you must have a valid food handling certificate)
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="preferredPosition[]" value="technical support"
                               {% if 'technical support' in istDetails.getPreferredPosition %}checked="checked"{% endif %}>
                        technical support (material handling, storage or transport, fixing technical issues at the
                        campsite)
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="preferredPosition[]" value="program - sailing"
                               {% if 'program - sailing' in istDetails.getPreferredPosition %}checked="checked"{% endif %}>
                        main program - sailing
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="preferredPosition[]" value="program - canoeing"
                               {% if 'program - canoeing' in istDetails.getPreferredPosition %}checked="checked"{% endif %}>
                        main program - canoeing
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="preferredPosition[]" value="program - community project"
                               {% if 'program - community project' in istDetails.getPreferredPosition %}checked="checked"{% endif %}>
                        main program - community project
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="preferredPosition[]" value="program - rafting"
                               {% if 'program - rafting' in istDetails.getPreferredPosition %}checked="checked"{% endif %}>
                        main program - rafting
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="preferredPosition[]" value="program - hiking"
                               {% if 'program - hiking' in istDetails.getPreferredPosition %}checked="checked"{% endif %}>
                        main program - hiking
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="preferredPosition[]" value="program - workshops"
                               {% if 'program - workshops' in istDetails.getPreferredPosition %}checked="checked"{% endif %}>
                        main program - workshops (feel free to state any insteresting skills into skill field)
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="preferredPosition[]" value="evening activities"
                               {% if 'evening activities' in istDetails.getPreferredPosition %}checked="checked"{% endif %}>
                        evening leisure activities (ceremonials, dances, parties, debates...)
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="preferredPosition[]" value="teahouse staff"
                               {% if 'teahouse staff' in istDetails.getPreferredPosition %}checked="checked"{% endif %}>
                        teahouse staff
                    </label>
                    <label class="form-control">
                        <input type="checkbox" name="preferredPosition[]" value="subcamp leader"
                               {% if 'subcamp leader' in istDetails.getPreferredPosition %}checked="checked"{% endif %}>
                        subcamp leader
                    </label>
                </div>
                <br>
            {% endif %}{% if ca.driver %}
                <label class="form-group form-group-inline">Driver's licence:
                    <select class="form-control" name="driversLicense" required="required">
                        <option value="dont"
                                {% if istDetails.getDriversLicense == 'dont' %}selected="selected"{% endif %}>
                            I don't have it or I don't want to drive on event
                        </option>
                        <option value="less 10000 km"
                                {% if istDetails.getDriversLicense == 'less 10000 km' %}selected="selected"{% endif %}>
                            I have it, but have not driven more than 10 000 km
                        </option>
                        <option value="more 10000 km"
                                {% if istDetails.getDriversLicense == 'more 10000 km' %}selected="selected"{% endif %}>
                            I have it and have driven more than 10 000 km
                        </option>
                    </select>
                </label>
            {% endif %}
            <div class="text-center">
                <br/>
                <input class="btn btn-small" type="submit" value="{% trans %}changeDetails.save{% endtrans %}">
                <br/>
                <br/>
                <a class="btn btn-small btn-grey"
                   href="{{ url_for('ist-dashboard', {'eventSlug': event.slug}) }}">{% trans %}changeDetails.back{% endtrans %}</a>
            </div>
        </form>
    </div>
{% endblock %}
