{% extends "_layout.twig" %}

{% block content %}
    <div class="card open-theme">
        <h2>{% trans %}dashboard.delete{% endtrans %} - {% trans %}role.p{% endtrans %}</h2>
        <p>
            {% trans %}dashboard.youWantDelete{% endtrans %}
            {% if pDetail.getFirstName is not empty %}<b>{{ pDetail.getFullName }}</b>{% else %}
                <i>{% trans %}dashboard.withoutName{% endtrans %}</i>{% endif %}{% trans %}dashboard.wontBeAbleUndo{% endtrans %}
        </p>
        <form method="POST"
              action="{{ url_for('p-delete', {'participantId': pDetail.getId, 'eventSlug': event.slug}) }}">
            <input class="btn btn-small" type="submit" value="{% trans %}dashboard.delete{% endtrans %}">
            <a href="{{ url_for('dashboard', {'eventSlug': event.slug}) }}"
               class="btn btn-grey btn-small">{% trans %}changeDetails.back{% endtrans %}</a>
        </form>
    </div>
{% endblock %}
