{% extends "_layout.twig" %}

{% block content %}
    <div class="card card-half closed-theme">
        <h2>{% trans %}role.p{% endtrans %} - {% trans %}dashboard.details{% endtrans %}</h2>
        {% include 'widgets/details.twig' with {'person': pDetail} %}
        <br/>
        <a class="btn btn-grey btn-small" href="{{ url_for('dashboard', {'eventSlug': event.slug}) }}">
            {% trans %}changeDetails.back{% endtrans %}
        </a>
    </div>
{% endblock %}
