{% extends "_layout.twig" %}

{% block content %}
    <div class="card card-half">
        <h2>{{ 'role.p' | trans }} - {{ 'dashboard.details' | trans }}</h2>
        {% include 'widgets/details.twig' with {'person': pDetail} %}
        <br/>
        <a class="btn btn-grey btn-small" href="{{ url_for('dashboard', {'eventSlug': event.slug}) }}">
            {{ 'changeDetails.back' | trans }}
        </a>
    </div>
{% endblock %}
