{% extends "_layout.twig" %}

{% block content %}
    <div class="card">
        <p>{% trans %}singupSuccess.buttonSent{% endtrans %}</p>
        <p>{% trans %}singupSuccess.buttonClick{% endtrans %}</p>
    </div>
{% endblock %}
