{% extends "emails/_mail-layout.twig" %}

{% block content %}
	<p>Ahoy,</p>
	<p>fortunatelly, we obtained your registration for AQUA 2020!</p>

	<p>Your registration is now waiting for approval. Please stick with us for couple of days - we send you </p>

	<p>If you have any questions, you may seek the answer at our webpage
		<a href="http://aqua.sk/en//">https://auqa.sk</a>
		or drop us an E-mail to <a href="mailto:team@aqua.sk">team@aqua.sk</a><span class="noselect">.</span></p>

	<p>Fair winds and following seas from AQUA team
	</p>
{% endblock %}
