{% extends "emails/_mail-layout.twig" %}

{% block content %}
    <p>Ahoy,</p>

    <p>You have successfully sent the registration onto an AQUA voyage. Now we need to check if everything is
        alright and if it is so, we will send you payment information. It may take several days, so be patient,
        please. :)</p>
{% endblock %}
