{% extends "emails/_mail-layout.twig" %}

{% block content %}
	<p>Ahoy,</p>

	<p>You have successfully sent the registration onto an AQUA voyage. Now we need to check if everything is
		alright and if it is so, we will send you payment information. It may take several days, so be patient,
		please. :)</p>

	<p>If you have any questions, you may seek the answer at our webpage
		<a href="{{ event.webUrl }}">{{ event.webUrl }}</a>
		or drop us an E-mail to <a href="mailto:team@aqua.sk">team@aqua.sk</a><span class="noselect">.</span></p>

	<p>Fair winds and following seas from AQUA team!</p>
{% endblock %}
