{% extends "emails/_mail-layout.twig" %}

{% block content %}
    <p>Ahoy,</p>
    <p>unfortunatelly, we have denied your registration for {{ event.readableName }}, as you hadn't met all the
        requirements. </p>

    <p>Reason: {{ reason }}. Please, add or edit missing details in registration system and don't forget to send your
        registration for approval. </p>
{% endblock %}
