{% extends "emails/_mail-layout.twig" %}

{% block content %}
    <div class="text-center">
        <p>{% trans %}finished.welcome{% endtrans %}</p>
        <p>{% trans %}finished.approved{% endtrans %}{{ event.readableName }}{% trans %}finished.thanks{% endtrans %}</p>

        <p>{% trans %}finished.enjoy{% endtrans %}</p>
    </div>
{% endblock %}
