{% extends "emails/_mail-layout.twig" %}

{% block content %}
    <div class="text-center">
        <p>{% trans %}payment-successful.welcome{% endtrans %}</p>
        <p>{% trans %}payment-successful.recieved{% endtrans %}{{ event.readableName }}{% trans %}payment-successful.thanks{% endtrans %}</p>

        <p>{% trans %}payment-successful.enjoy{% endtrans %}</p>
    </div>
{% endblock %}
