{% extends "emails/_mail-layout.twig" %}

{% block content %}
	<div class="text-center">
		<p>Ahoy!</p>
		<p>We have received your payment for {{ eventName }}. Thank you!</p>

		<p>Now you can fully enjoy the excitement for the upcoming event! So don't break your leg, make sure your tent
			is ready for the nature of northern Slovakia and stay tuned for more information. ;)</p>

		<p>If you have any questions, you may seek the answer at our webpage
			<a href="{{ event.webUrl }}">{{ event.webUrl }}</a>
			or drop us an E-mail to <a href="mailto:team@aqua.sk">team@aqua.sk</a><span class="noselect">.</span>
		</p>

		<p>Fair winds and following seas from AQUA team</p>
	</div>
{% endblock %}
