{% extends "_layout.twig" %}

{% block content %}
    <div class="two-cards">
        <div class="card approved-theme">
            <h2>KISSJ umí dvě věci - sbírá data od účastníků a stará se o příchozí platby</h2>
            <ul>
                <li>Registraci máš vytvořenou za míň než minutu</li>
                <li>Emaily účastníkům chodí samy</li>
                <li>Generuješ i páruješ platby na klik myši</li>
                <li>Můžeš vše exportovat do tabulek</li>
            </ul>
            <p>KISSJ už používá třeba český i slovenský kontingest CEJ, KORBO a další</p>
            <a href="https://kissj.skauting.cz" class="btn">Vyzkoušej teď na <br/><b>kissj.skauting.cz!</b></a>
            <br/>
            <a target="_blank" href="https://github.com/SkautDevs/kissj">Jsi vývojář? Opencource kód pro KISSJ najdeš na
                github.com!</a>
        </div>
        {% if user %}
            <div class="card registration-theme">
                <h2>Pořádáš akci?</h2>
                <a href="{{ url_for('createEvent') }}" class="btn">Založ registraci pro svoje účastníky!</a>
            </div>
        {% else %}
            <div class="card registration-theme">
                <h2>Pořádáš akci? Založ registraci pro svoje účastníky!</h2>
                <form action="{{ url_for('trySignup') }}" method="post">
                    <div class="form-group">
                        <label for="form-email">Email</label>
                        <input class="form-control form-wide" type="email" name="email" id="form-email" required/><br/>
                    </div>
                    <input type="submit" value="Zaregistruj akci &#13;&#10;a pošli mi přihlašovací mail"
                           class="btn form-wide"/>
                </form>
                <br/>
                <div class="open-theme">
                    <a href="{{ url_for('loginAskEmail') }}" class="btn">Přihlaš se do své akce</a>
                </div>
                <br/>
                <a href="{{ url_for('kissj-loginHelp') }}" class="btn btn-grey">Jak funguje přihlášení přes mail?</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
