{% extends "_layout.twig" %}

{% block content %}

    //individual roles including summary
{% for aggregator in aggregators %}
    <div class="card approved-theme">
            <h3>{{ aggregator }}</h3>
            <table >
                <thead>
                <tr>
                    <th>dieta/den</th>
                    {% for diet in foodStatistic.diet_types %}
                        <th  style="text-align: left" > {{ diet }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for date in foodStatistic.dates %}
                    <tr>
                        {% for diet in foodStatistic.diet_types %}
                            <td>{{ foodStatistic[aggregator][date][diet] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endfor %}

{% endblock %}


