{% extends "_layout.twig" %}

{% block content %}
    <div class="card card-half closed-theme">
        <h2>Deny Free Participant</h2>
        <p>Want you really deny <b>{{ fp.getFullName }}</b>?</p>
        <form method="post" action="{{ url_for('admin-open-fp', {'fpId' : fp.getId, 'eventSlug': event.slug}) }}">
            <div class="form-group">
                <label>Reason for denial (will be sent by email): <br/><br/>
                    <input type="text" name="reason" id="form-reason" class="form-control form-wide"
                           required="required"></label>
            </div>
            <br/>
            <a href="{{ url_for('admin-show-approving', {'eventSlug': event.slug}) }}"
               class="btn btn-small btn-grey">Back</a><br/><br/>
            <input type="submit" value="Deny and send email" class="btn btn-small">
        </form>
    </div>
{% endblock %}
