{% extends "_layout.twig" %}

{% block content %}
    <div class="card card-half closed-theme">
        <h2>{% trans %}openIst-admin.deny{% endtrans %} {{ event.getIstLabel }}</h2>
        <p>{% trans %}openIst-admin.wantDeny{% endtrans %} <b>{{ ist.getFullName }}</b>?</p>
        <form method="post" action="{{ url_for('admin-open-ist', {'istId' : ist.getId, 'eventSlug': event.slug}) }}">
            <div class="form-group">
                <label>{% trans %}openIst-admin.reason{% endtrans %}<br/><br/>
                    <input type="text" name="reason" id="form-reason" class="form-control form-wide"
                           required="required"></label>
            </div>
            <br/>
            <a href="{{ url_for('admin-show-approving', {'eventSlug': event.slug}) }}"
               class="btn btn-small btn-grey">{% trans %}openIst-admin.back{% endtrans %}</a><br/><br/>
            <input type="submit" value="{% trans %}openIst-admin.denyAndSend{% endtrans %}" class="btn btn-small">
        </form>
    </div>
{% endblock %}
