{% extends "_layout.twig" %}

{% block content %}
    <div class="card approved-theme">
        <h2>{% trans %}payments-admin.confirmText{% endtrans %} {{ event.readableName }}</h2>
        {% if event.getEventType.isUnlockExpiredButtonAllowed %}
            <form method="POST" action="{{ url_for('admin-cancel-due-payments', {'eventSlug': event.slug} ) }}">
                <input type="submit" class="btn btn-small" value="{% trans %}payments-admin.openDuePayments{% endtrans %}">
            </form><br/>
        {% endif %}
        <a href="{{ url_for('admin-dashboard', {'eventSlug': event.slug} ) }}"
           class="btn btn-grey btn-small">{% trans %}payments-admin.back{% endtrans %}</a>
    </div>
    <br/>

    {% if event.allowIsts %}
        {% if approvedIsts is empty %}
            <div class="card closed-theme">
                <h2>{% trans %}payments-admin.allIstsPaid{% endtrans %}</h2>
            </div>
        {% else %}
            <div class="card approved-theme">
                <h2>{% trans %}role.ist{% endtrans %}</h2>
            </div>
            <br/>
            {% for ist in approvedIsts %}
                <div class="card approved-theme">
                    {% include 'widgets/paymentDetails.twig' with {
                        'person': ist,
                        'ca': event.getEventType.getContentArbiterIst,
                    } %}
                </div>
                <br/>
            {% endfor %}
        {% endif %}
        <br/>
    {% endif %}
    
    {% if event.allowPatrols %}
        {% if approvedPatrolLeaders is empty %}
            <div class="card closed-theme">
                <h2>{% trans %}payments-admin.allPatrolsPaid{% endtrans %}</h2>
            </div>
        {% else %}
            <div class="card approved-theme">
                <h2>{% trans %}role.pl{% endtrans %}</h2>
            </div>
            <br/>
            {% for pl in approvedPatrolLeaders %}
                <div class="card approved-theme">
                    {% include 'widgets/paymentDetails.twig' with {
                        'person': pl,
                        'ca': event.getEventType.getContentArbiterPatrolLeader,
                    } %}
                </div>
                <br/>
            {% endfor %}
        {% endif %}
        <br/>
    {% endif %}
    
    {% if event.allowTroops %}
        {% if approvedTroopLeaders is empty %}
            <div class="card closed-theme">
                <h2>{% trans %}payments-admin.allTroopLeadersPaid{% endtrans %}</h2>
            </div>
        {% else %}
            <div class="card approved-theme">
                <h2>{% trans %}role.tl{% endtrans %}</h2>
            </div>
            <br/>
            {% for tl in approvedTroopLeaders %}
                <div class="card approved-theme">
                    {% include 'widgets/paymentDetails.twig' with {
                        'person': tl,
                        'ca': event.getEventType.getContentArbiterTroopLeader,
                    } %}
                </div>
                <br/>
            {% endfor %}
        {% endif %}
        <br/>
    {% endif %}
{% endblock %}
