{% extends "_layout.twig" %}

{% block content %}
	<div class="two-cards">
		<div class="card registration-theme">
			<form action="{{ path_for('sendLoginEmail') }}" method="post">
				<h2>Přihlásit se na akci {{ event.readableName }}</h2>
				<div class="form-group">
					<label for="form-email">Email</label>
					<input class="form-control form-wide" type="email" name="email" id="form-email" required/><br/>
				</div>
				<input type="submit" value="Poslat mail pro přihlášení" class="btn form-wide"/>
			</form>
		</div>
		<div class="card approved-theme">
			<h2>Jak to funguje?</h2>
			<ul>
				<li>Zadej svůj email</li>
				<li>V emailu klikni na tlačítko "Přihlásit"</li>
				<li>Vyplň svoje údaje</li>
				<li>Uzamkni svou registraci</li>
			</ul>
			<br/>
			<a href="{{ path_for('loginHelp') }}" class="btn-sm btn btn-small btn-grey">Víc informací jak na to</a>
		</div>
	</div>
{% endblock %}
