{% extends "kissj/_layout.twig" %}

{% block content %}
	<div class="card">
		<h2>Vstup do registračního systému</h2>
		<p>Na tvůj email byl odeslán přihlašovací odkaz. </p>
		<p>Do 15 minut na něj klikni a tím se vstoupíš do registračního systému.</p>
	</div>
{% endblock %}
