{% extends "kissj/_layout.twig" %}

{% block content %}
		<div class="card registration-theme">
			<h2>Jedeš na akci? Vyber si kam!</h2>
			{% foreach event in events %}
				<a href="{{ path_for('landing', {'event': event.slug}) }}" class="btn">Jeď na <br/>
					{{ event.readableNameShort }}!</a><br/>
				<br/>
			{% endforeach %}
		</div>
{% endblock %}