{% extends "_layout.twig" %}

{% block content %}
	<div class="text-center">
		<h1>Welcome!</h1>
		<a href="{{ path_for('registration') }}" class="btn btn-primary">Reigstrace tady!</a>
	</div>
{% endblock %}