{% extends "_layout.twig" %}

{% block content %}
	<div class="text-center">
		<h1>Registrace samotného účastníka</h1>
		<p>Bohužel, takto to nepůjde. Musíš si najít Patrol Leadera (někoho nad 18 let, kdo s tebou do Maďarska pojede taky) a 8 kamarádů a tím vytvoříte patrolu. </p>
		<p>Kdybys nikoho takového okolo sebe neznal a přesto chtěl pořád jet, napiš nám na email <a href="mailto:cej2018@skaut.cz">cej2018@skaut.cz</a> a my zkusíme zařídit co se dá. </p>
		<a href="{{ path_for('landing') }}" class="btn btn-link">Zpět na landing page</a>
	</div>
{% endblock %}