
{% extends "_layout.twig" %}

{% block content %}

	<form action="{{ path_for('signup') }}" method="post">
		<h1>Registrace patrol a IST na CEJ 2018</h1>
		 <div class="form-group">
			<label for="form-email">Email</label>
			<input class="form-control" type="email" name="email" id="form-email" required/><br/>
		</div>
		<input type="submit" value="Přihlásit se" class="btn btn-primary" />
	</form>
{% endblock %}