
{% extends "_layout.twig" %}

{% block content %}
	<h1>Registrace patrol a IST na CEJ 2018</h1>

	<form action="{{ path_for('signup') }}" method="post">
		<input type="email" name="email" placeholder="E-mail" required="required"/><br/>
		<input type="submit" value="Přihlásit se" />
	</form>
{% endblock %}