{% extends "_layout.twig" %}

{% block content %}
		<h1>Registrace patrol a IST na CEJ 2018</h1>
		
		Na email {{ email }} byl odeslán přihlašovací odkaz. Použij jej pro přihlášení do registračního systému.
{% endblock %}