@media (prefers-color-scheme: light) {
    :root {
        --color-main: #204c68;
        --color-accent: #B72225;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-main: #57A0AD;
        --color-accent: #EE2542;
    }
}
