@media (prefers-color-scheme: light) {
    :root {
        --color-background: #ede9e6;
        --color-card-background: #f9f9f9;
        --color-input-background: #ffffff;
        --color-main: #dd6700;
        --color-accent: #d43b00;
        --color-fading: #f2bb56;
        --color-light: #e37f00;
        --color-dark: #ae0e13;
        --color-grey: #818181;
     }
 }

 @media (prefers-color-scheme: dark) {
     :root {
         --color-main: #dd6700;
         --color-accent: #d5b885;
         --color-fading: #1f2e3d;
         --color-light: #e37f00;
     }
 }
