{% extends "_layout.twig" %}

{% block content %}
	<div class="card open-theme">
		<h2>Send guest registration</h2>
		<p>Do you really want to lock your registration and send for approval to us? <b>This step is irreversible and
				submitted details cannot be changed afterward!</b></p>
		<form method="POST" action="{{ path_for('guest-confirmCloseRegistration', {'eventSlug': event.slug}) }}">
			<label><input type="checkbox" required="required">Souhlasím s ustanoveními o Ochraně osobních údajů a o
				Právní odpovědnosti umístněnými na <a target="_blank"
													  href="{{ dataProtectionUrl }}">{{ dataProtectionUrl }}</a>.
			</label><br/>
			<br/>
			<div class="text-center">
				<input class="btn btn-small" type="submit" value="Lock registration">
				<a href="{{ path_for('guest-dashboard', {'eventSlug': event.slug}) }}"
				   class="btn btn-grey btn-small">Back</a>
			</div>
		</form>
	</div>
{% endblock %}
