{% extends "_layout.twig" %}

{% block content %}
    <div class="card open-theme">
        <h2>Delete participant</h2>
        <p>Do you really want to delete participant
            {% if pDetail.getFirstName is not empty %}<b>{{ pDetail.getFullName }}</b>{% endif %}
            ? You won't be able to undo this action!</p>
        <form method="POST"
              action="{{ url_for('p-delete', {'participantId': pDetail.getId, 'eventSlug': event.slug}) }}">
            <input class="btn btn-small" type="submit" value="Delete participant">
            <a href="{{ url_for('pl-dashboard', {'eventSlug': event.slug}) }}" class="btn btn-grey btn-small">Back</a>
        </form>
    </div>
{% endblock %}
