{% extends "_layout.twig" %}

{% block content %}
	<div class="card">
		<h1>AQUA 2020 registration</h1>
		<p>A log-in button has been sent to your E-mail address. </p>
		<p>Click on it in 15 minutes to log in into the registratino system.</p>
	</div>
{% endblock %}
