{% extends "_layout.twig" %}

{% block content %}
    <div class="card text-center">
        <h2>Logging-in scheme of kissj system</h2>
        <h3>How does it work, actually?</h3>
        <p>Logging into the kissj registration system is done via one's E-mail address, without any password. </p>
        <p>For the first access into the system, you submit your E-mail address. Subsequently you receive an E-mail with
            a signing-in button and link, which you follow and are then immediately able to fill in a registration
            form. </p>
        <p>You stay logged in until you manually log out. </p>
        <p>After loggin out, nobody can access your data, not even from the same device. </p>
        <p>For logging back in and accessing your data, you have to submit your E-mail address at the log-in page. Your
            will receive the logging-in button/link into you E-mail account and have to follow it, just like when
            signing in for the first time. </p>
        <h3>Expiration of access button/link</h3>
        <p>The received button/link is valid only for 15 minutes. Later on you would have to submit your E-mail address
            again to get a new logging-in button/link. This is a protection against anyone, who could somehow get access
            to your old E-mails - so that the data you submitted into the registration system are not accessible via an
            old loggin-in link. </p>
        <p>After following the button/link, it becomes invalid. Therefore if you log in and out in a short period of
            time, you cannot access the registration account with the same link again and have to get a new logging-in
            button/link. </p>
        <p>All these security elements have one main point - to keep your data as secure as possible, just like the
            banks and other big portals attempt to do it. </p>
        <h3>Questions?</h3>
        <p>Should there be any issue with logging in or with any other part of the system, write an E-mail to the
            particular event organizers, they will surely try to help you at their best. </p>
        <br>
        <a href="{{ path_for('landing') }}" class="btn btn-small btn-grey btn text-center">Back to log in page</a>
    </div>
{% endblock %}
