{% extends "_layout.twig" %}

{% block content %}
    <div class="card">
        <h2>{% trans %}login-link-sent.accessToSystem{% endtrans %}</h2>
        <p>{% trans %}login-link-sent.linkSent{% endtrans %}</p>
        <p>{% trans %}login-link-sent.followLink{% endtrans %}</p>
    </div>
{% endblock %}
