{% extends "_layout.twig" %}

{% block content %}
    <div class="card">
        <h2>Access into the registration system</h2>
        <p>A signing-in link has been sent to your E-mail address.</p>
        <p>Follow the link in 15 minutes to sign in into the registration system.</p>
    </div>
{% endblock %}
