name: Staging

on:
  push:
    branches: [ staging ]
  pull_request:
    branches: [ staging ]

  workflow_dispatch:
    inputs:
      envName:
        description: 'Environment to deploy to'
        required: true
        type: string
        default: staging
      envUrl:
        description: 'URL of the environment'
        required: true
        type: string
        default: 'https://staging.kissj.net'

jobs:

  test:
    uses: ./.github/workflows/tests.yaml

  build:
    needs: test
    uses: ./.github/workflows/build.yaml
    with:
      envName: staging

    secrets:
      REGISTRY_USER: ${{ secrets.REGISTRY_USER }}
      REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }} 

  staging-deploy:
    needs: build
    uses: ./.github/workflows/deploy.yaml
    with:
      envName: 'staging'
      envUrl: 'https://staging.kissj.net'

    secrets: inherit
