{% if userStatus == 'open' %}
    {% if userRole == 'pl' %}
        {% trans %}userCustomHelp.statusOpenPl{% endtrans %}
    {% else %}
        {% trans %}userCustomHelp.statusOpen{% endtrans %}
    {% endif %}
{% elseif userStatus == 'closed' %}
    {% if userRole == 'guest' %}
        {% trans %}userCustomHelp.statusClosedGuest{% endtrans %} <a href="mailto:{{ event.getContactEmail }}">{{ event.getContactEmail }}</a>
    {% else %}
        {% trans %}userCustomHelp.statusClosed{% endtrans %} <a href="mailto:{{ event.getContactEmail }}">{{ event.getContactEmail }}</a>
    {% endif %}
{% elseif userStatus == 'approved' %}
        {% trans %}userCustomHelp.statusApproved{% endtrans %}    
{% elseif userStatus == 'paid' %}
    {% if userRole == 'guest' %}
        {% trans %}userCustomHelp.statusPaidGuest{% endtrans %}    
    {% else %}
        {% trans %}userCustomHelp.statusPaid{% endtrans %}    
    {% endif %}
{% endif %}
